@charset "utf-8";
/* CSS Document */

html{
	background-color:#3664c6;
}
.header h1{
	text-align:center;
}
.links ul{
	text-align:center;
	border: 1px solid black;
	background-color:#5b7fcc;
	border-radius:100px;
	height: 40px;
}
.links li{
	list-style-type:none;
	color: black;
	text-decoration:none;
	display: inline-block;
	float:center;
	border:1px solid black;
	border-radius: 5px;
	margin: 8px;
	background-color:#aac1f1;
	padding-bottom:10px;
	width:100px;
	height:10px;
}
.links a{
	color:black;
	text-decoration:none;
	width:50px;
	height:50px;
}
.main{
	background-color:#d9e2f4;
	float: right;
	height:400px;
	width:1200px;
	padding-right:10px;
	padding-left:10px;
}
.creations{
	background-color:#d9e2f4;
	float: left;
	height:400px;
	width:150px;
	
}
.table,tr,td{
	padding:5px;
	line-height:60px;
	display:block;
	height: 40px;
}
th{
	border: 1px solid black;
	background-color:#546ea4;
	border-radius: 20px;
	padding:5px;
	line-height:30px;
}
.header1 {
	text-align:center;
}
.main p{
	font-size:18px;
}
.creations a{
 	text-decoration:none;
	color:black;
	padding:5px;
}
h2{
	text-align:center;
}
li{
	text-align:center;
	list-style-type: none;
}
.creations td a:hover {
	color:#3664c6 ;
	font-weight: bold;
	text-decoration: none;
	background-color: white;
	border: 1px solid black;
	border-radius:5px;	
}
.links a:hover {
	color:#3664c6 ;
	font-weight: bold;
	text-decoration: none;
}
.creations th a:hover {
	font-weight: bold;
	text-decoration: none;
	color:white;
}