<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class=""><!-- InstanceBegin template="/Templates/index.dwt" codeOutsideHTMLIsLocked="false" -->
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->

<link href="../Cars.css" rel="stylesheet" type="text/css">
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="../respond.min.js"></script>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
<div class="gridContainer clearfix">
  <div id="header">
<a id="one" href="Index.html"><img id="one"src="../lambo.jpg"

alt='Red Lambo clip art'/></a>
        <h1>Super Cars</h1>
       <a id="two" href="
Images.html"><img id="two" src="https://openclipart.org/download/185046/camera-icon.svg" /></a>
  </div>
  <div id="dropdown">	
  		<nav class="menu">
    		<ul class="clearfix">
        		<li>
                	<a href="#">Lamborghini</a>
                    	<ul class="sub-menu">
                        	<li><a href="Lambo-1.html">Aventador</a>
                   			</li>
                            <li><a href="Lambo-2.html">Veneno</a>
                            </li>
                        </ul>
                    </li>
            	<li>
                	<a href="#">Ferrari</a>
                    	<ul class="sub-menu">
                        	<li><a href="Far-1.html">Enzo</a>
                            </li>
                            <li><a href="Far-2.html">La Ferrari</a>
                            </li>
                           </ul>
                    </li>
            	<li>
                	<a href="#">Buggati</a>
                    	<ul class="sub-menu">
                        	<li><a href="Bug-1.html">Buggati SS</a>
                            </li>
                            <li><a href="Bug-2.html">Buggati Veyron</a>
                        </ul>
                    </li>
            	<li>
                	<a href="#">McLaren</a>
			 	                                	<ul class="sub-menu">
                       		<li><a href="Mc-1.html">McLaren P1</a>
                            </li>
                            <li><a href="Mc-2.html">McLaren 12C</a>
                            </li>
                       </ul>
            	</li>
            </ul>
            
         </nav>
  </div>
<div id="content"><!-- InstanceBeginEditable name="EditRegion1" -->
<img id="piccon" src = "http://bilmodel.dk/images/cars/678_9.jpg"/>
<p>Backgroud: <br> The Bugatti Veyron Super Sport, or SS for short, is one of the most well known Bugatti models out there. That's because it is the fastest street legal car recognized by Guinness World Records. However, it is very rare because it has a huge price tag: $2,250,000. Figuring the large cost not many people have one. Some celebrities however have invested in such a car such as,  Simon Cowell, Jay-z as well was Tom Brady.
<br>
<br> Stats: <br>
<b>Speed:<b> 430.9 km/h (267.7 mph) <br><b>0-60mph:<b> 2.46 seconds<br> <b>Engine:<b> 8.0 liter W16, 64v 2xDOHC quad-turbocharged petrol engine.
<br>Fun Fact: The spoiler is also an air brake that has the same breaking power as a Ford Fiesta</p>
<!-- InstanceEndEditable -->


  
</div>
  <div id="footer">This website is for education purposes, any and all images may or may not be copyrighted.
  </div>
</div>
</body>
<!-- InstanceEnd --></html>
