<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class=""><!-- InstanceBegin template="/Templates/index.dwt" codeOutsideHTMLIsLocked="false" -->
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->

<link href="../Cars.css" rel="stylesheet" type="text/css">
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="../respond.min.js"></script>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
<div class="gridContainer clearfix">
  <div id="header">
<a id="one" href="Index.html"><img id="one"src="../lambo.jpg"

alt='Red Lambo clip art'/></a>
        <h1>Super Cars</h1>
       <a id="two" href="
Images.html"><img id="two" src="https://openclipart.org/download/185046/camera-icon.svg" /></a>
  </div>
  <div id="dropdown">	
  		<nav class="menu">
    		<ul class="clearfix">
        		<li>
                	<a href="#">Lamborghini</a>
                    	<ul class="sub-menu">
                        	<li><a href="Lambo-1.html">Aventador</a>
                   			</li>
                            <li><a href="Lambo-2.html">Veneno</a>
                            </li>
                        </ul>
                    </li>
            	<li>
                	<a href="#">Ferrari</a>
                    	<ul class="sub-menu">
                        	<li><a href="Far-1.html">Enzo</a>
                            </li>
                            <li><a href="Far-2.html">La Ferrari</a>
                            </li>
                           </ul>
                    </li>
            	<li>
                	<a href="#">Buggati</a>
                    	<ul class="sub-menu">
                        	<li><a href="Bug-1.html">Buggati SS</a>
                            </li>
                            <li><a href="Bug-2.html">Buggati Veyron</a>
                        </ul>
                    </li>
            	<li>
                	<a href="#">McLaren</a>
			 	                                	<ul class="sub-menu">
                       		<li><a href="Mc-1.html">McLaren P1</a>
                            </li>
                            <li><a href="Mc-2.html">McLaren 12C</a>
                            </li>
                       </ul>
            	</li>
            </ul>
            
         </nav>
  </div>
<div id="content"><!-- InstanceBeginEditable name="EditRegion1" -->
<img id="piccon" src = "http://images5.alphacoders.com/449/449743.jpg"/>
<p>Backgroud: <br> The McLaren P1 is the successor of the McLaren F1 using hybrid engines and a formula one design. The P1 started to be relased in Octover 2013 and was sold out by Novemeber of the same year. The car costing $1.15 million only had 375 units made.<br>
<br> Stats: <br>
<b>Speed:<b> 350 km/h (217 mph)<br><b>0-60mph:<b> 2.9 sec seconds<br> <b>Engine:<b> 3.8 L twin-turbo M838TQ V8
<br>Fun Fact: in 2015, Mclaren unveild at track only version that could only be sold to an owner of the original P1.</p>
<!-- InstanceEndEditable -->


  
</div>
  <div id="footer">This website is for education purposes, any and all images may or may not be copyrighted.
  </div>
</div>
</body>
<!-- InstanceEnd --></html>
