<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- TemplateBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- TemplateEndEditable -->
<link href="../boilerplate.css" rel="stylesheet" type="text/css">
<link href="../Cars.css" rel="stylesheet" type="text/css">
<!-- 
To learn more about the conditional comments around the html tags at the top of the file:
paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

Do the following if you're using your customized build of modernizr (http://www.modernizr.com/):
* insert the link to your js here
* remove the link below to the html5shiv
* add the "no-js" class to the html tags at the top
* you can also remove the link to respond.min.js if you included the MQ Polyfill in your modernizr build 
-->
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="../respond.min.js"></script>
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>
<body>
<div class="gridContainer clearfix">
  <div id="header">
<a id="one" href="http://www.clker.com/cliparts/y/l/N/F/v/b/red-lambo-th.png"><img id="one"src='http://www.clker.com/cliparts/y/l/N/F/v/b/red-lambo-th.png' alt='Red Lambo clip art'/></a>
        <h1>Super Cars</h1>
       <a id="two" href="../<br>
Images.html"><img id="two" src="https://openclipart.org/download/185046/camera-icon.svg" /></a>
  </div>
  <div id="dropdown">	
  		<nav class="menu">
    		<ul class="clearfix">
        		<li>
                	<a href="#">Lamborghini</a>
                    	<ul class="sub-menu">
                        	<li><a href="../Games1.html">Aventador</a>
                   			</li>
                            <li><a href="../Games2.html">Veneno</a>
                            </li>
                        </ul>
                    </li>
            	<li>
                	<a href="#">Ferrari</a>
                    	<ul class="sub-menu">
                        	<li><a href="../Elf.html">Enzo</a>
                            </li>
                            <li><a href="../PolarExpress.html">La Ferrari</a>
                            </li>
                           </ul>
                    </li>
            	<li>
                	<a href="#">Buggati</a>
                    	<ul class="sub-menu">
                        	<li><a href="http://snowboarding.transworld.net/">Buggati SS</a>
                            </li>
                            <li><a href="http://kidshealth.org/teen/safety/sports_safety/safety_sledding.html">Buggati Veyron</a>
                        </ul>
                    </li>
            	<li>
                	<a href="#">McLaren</a>
			 	                                	<ul class="sub-menu">
                        	<li><a href="http://www.food.com/topic/winter/popular">McLaren P1</a>
                            </li>
                            <li><a href="http://www.realsimple.com/food-recipes/recipe-collections-favorites/seasonal/hot-drinks/leo-236">McLaren 12C</a>
                            </li>
                       </ul>
            	</li>
            </ul>
            
         </nav>
  </div>
<div id="content"><!-- TemplateBeginEditable name="EditRegion1" -->EditRegion1<!-- TemplateEndEditable -->


  
</div>
  <div id="footer">This website is for education purposes, any and all images may or may not be copyrighted.
  </div>
</div>
</body>
</html>
