@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
}
body{
	background-image:url(http://vignette1.wikia.nocookie.net/vsbattles/images/a/a3/Black-windows_542931.jpg/revision/latest?cb=20150317090032);
}
#title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:0px;
}
#title #one {
	height:250px;
	position:relative;
	z-index:-1;
}
#title #two {
	height:250px;
	position:relative;
	z-index:-1;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-250px;
}
#Dyrus {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-820px;
	right:-30px;
}
#Dyrus1{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-250px;
}
#Bjerg {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-815px;
	right:-160px;
}
#Bjerg1{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-250px;
}
#Sant {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-825px;
	right:-150px;
}
#Sant1{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-250px;
}
#Wildt {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-650px;
	right:-260px;
}
#Wildt1{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-250px;
}
#Lust {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-850px;
	right:-325px;
}
#Lust1{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-250px;
}
#teambio {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	color:white;
	text-align:center;
	position:relative;
	top:-750px;

}
#bios {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	color:white;
	position:relative;
	top:-250px;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#title {
	clear: both;
	float: left;
	margin:0;
	width: 100%;
	display: block;
	position:relative;
	right:-15px;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Dyrus {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-820px;
	right:-60px;
}

#Bjerg {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-815px;
	right:-280px;
}
#Sant {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-850px;
	right:-250px;
}
#Wildt {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-650px;
	right:-450px;
}
#Lust {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-850px;
	right:-525px;
}
#teambio {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-750px;
}
#bios {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#title {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#title img{
	width:750px;
	position:relative;
	right:-250px;
}
#title #one {
	height:250px;
	position:relative;
	top:-250px;
	right:-1000px;
}
#title #two {
	height:250px;
	position:relative;
	top:-500px;
	right:500px;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#content img{
	width:750px;
	height:750px;
	position:relative;
	right:-250px;
	top:-250px;
}
#Dyrus{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-1200px;
	right:-325px;
}
#Dyrus img:hover{
}
#Dyrus1{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-500px;
}
#Sant{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-1200px;
	right:-575px;
}
#Sant img:hover{
}
#Sant1{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Bjerg{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-1130px;
	right:-590px;
}
#Bjerg img:hover{
}
#Bjerg1{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Wildt{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-925px;
	right:-800px;
}
#Wildt img:hover{
}
#Wildt1{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Lust{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	position:relative;
	top:-1100px;
	right:-900px;
}
#Lust img:hover{
}
#Lust1{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#teambio{
	clear: both;
	float: left;
	margin-left: 0;
	display: block;
	position:relative;
	top:-950px;
	right:-230px;
	width:750px;
	color: white;
	padding:20px;
}
#teambio h1{
	text-align:center;
}
#bios{
	clear: both;
	float: left;
	margin-left: 0;
	width: 900px;
	height:200px;
	display: block;
	color:white;
	position:relative;
	top:-900px;
	right:-350px;
}
#bios p{
	font-size:20px;
}
}